* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.bg {

    background-image: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    background-color: #E59A24;
    box-shadow: -8px 9px 5px 0px rgba(46, 36, 22, 1);
    width: 40rem;
    height: 20.5rem;
    border-radius: 10%;
    padding: 10px 20px;
    position: absolute;
    left: 100px;
}

.container h1 {
    font-size: 2.5rem;
    color: #a12e2e;
    margin: 1rem 1rem;

}


.btn {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #b246d3;
}

.btn:hover {
    cursor: pointer;
    transition: 2s;
}

.new-joke-btn {
    background-color: #A240BF;

}


.joke-text-container {
    position: relative;
    height: 7rem;
    margin-bottom: 1.5rem;
}

.joke-text {
    position: relative;
    font-size: 1.1rem;
    margin: 50px;
    font-family: monospace;
}